/* fn=?1 color1=?2 color2=?3 */
:root {
  --primary-color; ?2;
  --secondary-color; ?3;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
*, *:before, *:after { box-sizing: inherit; }

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

ul { list-style: none; }
a { text-decoration: none; }

@media all and (max-width:500px) {
}
