<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>?1 Demo</title>
  <link rel="stylesheet" href="../bootstrap.min.css">
</head>
<body ng-app="?1">
  <h3>?1</h3>
  <div class="container">
    <?1-component>
    </?1-component>
  </div>

  <!-- Angular v. 1.5 -->
  <script src="../angular.min.js"></script>
  <script src="?1.js"></script>
</body>
</html>
