// CompName attrib
function ?1(props) {
  const ?2 = props.?2;
  return (
    <H1>Your parameter {?2}</H1>
  );
}

const ?2 = "Your value goes here";
ReactDOM.render(
  <?1 ?2={?2} />,
  document.getElementById('root')
);
