/* ?1 -- A filter for ... */
parse arg options
if options='-?' then do
  say 'usage: ?1 options'
  exit
end

SIGNAL ON NOTREADY NAME programEnd
SIGNAL ON ERROR    NAME programEnd
do forever
  parse pull data
  if data='' then iterate
  else say '>' data
end
exit

programEnd:
  exit 0
